<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.equipment.seat.mapper.LsSeatMapper">
    
    <resultMap type="LsSeat" id="LsSeatResult">
        <result property="id"    column="id"    />
        <result property="seatId"    column="seat_id"    />
        <result property="seatName"    column="seat_name"    />
        <result property="seatNo"    column="seat_no"    />
        <result property="seatStatus"    column="seat_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectLsSeatVo">
        select id, seat_id, seat_name, seat_no, seat_status, create_time, update_time, is_delete from ls_seat
    </sql>

    <select id="selectLsSeatList" parameterType="LsSeat" resultMap="LsSeatResult">
        <include refid="selectLsSeatVo"/>
        <where>  
            <if test="seatId != null  and seatId != ''"> and seat_id = #{seatId}</if>
            <if test="seatName != null  and seatName != ''"> and seat_name like concat('%', #{seatName}, '%')</if>
            <if test="seatNo != null "> and seat_no = #{seatNo}</if>
            <if test="seatStatus != null "> and seat_status = #{seatStatus}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectLsSeatById" parameterType="Long" resultMap="LsSeatResult">
        <include refid="selectLsSeatVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLsSeat" parameterType="LsSeat" useGeneratedKeys="true" keyProperty="id">
        insert into ls_seat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seatId != null and seatId != ''">seat_id,</if>
            <if test="seatName != null and seatName != ''">seat_name,</if>
            <if test="seatNo != null">seat_no,</if>
            <if test="seatStatus != null">seat_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seatId != null and seatId != ''">#{seatId},</if>
            <if test="seatName != null and seatName != ''">#{seatName},</if>
            <if test="seatNo != null">#{seatNo},</if>
            <if test="seatStatus != null">#{seatStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateLsSeat" parameterType="LsSeat">
        update ls_seat
        <trim prefix="SET" suffixOverrides=",">
            <if test="seatId != null and seatId != ''">seat_id = #{seatId},</if>
            <if test="seatName != null and seatName != ''">seat_name = #{seatName},</if>
            <if test="seatNo != null">seat_no = #{seatNo},</if>
            <if test="seatStatus != null">seat_status = #{seatStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLsSeatById" parameterType="Long">
        delete from ls_seat where id = #{id}
    </delete>

    <delete id="deleteLsSeatByIds" parameterType="String">
        delete from ls_seat where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>